html, body, .container{
    width: 100%;
    height: 100%;
    min-width: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    background-color: #007ced;
    background: linear-gradient(to bottom, #AAC3DA 1%,#cce7ff 100%);
    z-index: -11;
}

#cloud-intro{
    position: relative;
    height: 100%;
    background: url('../images/clouds1200_1.png');
    animation: wind 5s linear infinite;
}
@keyframes wind{
    0% {
        background-position: 0 300px;
    }
    100% {
        background-position: 0 600px;
    }

}

#myCanvasContainer {
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image:url('../images/ballOn.png') !important;
    z-index: 10;
    position: relative;
}

#logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5%;
    opacity: 0.5;
}

.wrapper { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }