body {
    background-color: #FFF;
    padding: 30px;
    margin: 0px;
}
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    margin-top:-20px;
    font:arial;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #199FFF;
    user-select: none;
    z-index: 1000;
    
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
}
.snowflake:hover {
    cursor: default;
}
h1 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FF3300;
    padding: 15px;
    color: #FFF;
    margin: 0px;
}
p, ol {
    font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
    font-size: 24px;
    color: #CCC;
}
li {
    margin-bottom: 24px;
    padding-left: 10px;
}